.gradient-custom-4 {
    background: linear-gradient(to right, rgb(110, 107, 107), rgb(132, 136, 136))
}

h1{
    padding-top: 50px;
    font-size: 50px;
}

.container{
    padding: 2rem;
}

@media (max-width: 600px) {
    * {
        font-size: 10px;
    }

    h1{
        font-size: 20px;
    }
}