* {
    /* border: 2px solid black; */
    padding: 10px;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(67, 208, 218), rgb(5, 105, 219));
    font-family: 'bs-font-sans-serif', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.main-container {
    box-shadow: 0px 0px 10px 6px rgba(106, 109, 106, 0.336);
    position: relative;
}

.rounded{
    border-radius: 10px;
}

.wrap {
    max-width: 75%;
    word-wrap: break-word;
}

.message {
    border-radius: 50px;
    border: 0;
    background-color: white;
}

.message:focus {
    outline: 2px solid rgb(125, 128, 132);
}

.message_area {
    background-image: url("./images/background_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* border-left: 2px solid rgb(202, 196, 196); */
    border-top-right-radius: 4px;
}

form {
    background-color: rgba(255, 255, 255, 0);
}

.bg-silver {
    background-color: rgb(240, 242, 245);
}

.bg-white {
    background-color: white;
}

.sendbtn {
    font-size: 25px;
    border-radius: 50%;
}

.parent {
    display: flex;
    flex-direction: column;
}

.top {
    align-self: flex-start;
    width: 100%;
    padding: 0;
    margin: 0;
}

.top div{
    background-color: rgba(0, 0, 0, 0.242);
}

.middle {
    flex-grow: 1;
    overflow-y: auto;
}

.bottom {
    align-self: flex-end;
}

.overflow {
    overflow-y: auto;
}

.chat_title_div {
    height: 10%;
    border-bottom: 2px solid silver;
}

.chat_div {
    height: 90%;
}

.chat_item {
    border-bottom: 1px solid rgb(192, 192, 192);
}

.chat_item_img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    padding: 0px;
}

.chat_item_img2 {
    height: 40px;
    width: 40px;
    padding: 0px;
    margin-right: 0px;
}

.chat_item_img3 {
    height: 25px;
    width: 25px;
    padding: 0px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0);
}

.chat_item:hover {
    background-color: rgba(192, 192, 192, 0.411);
}

.chat_item:last-child {
    border: 0;
}

.edit_icon {
    border-radius: 5px;
    height: 50px;
    width: 50px;
}

.edit_icon:hover {
    background-color: rgba(192, 192, 192, 0.411);
}

.create_group_div {
    background-color: rgba(192, 192, 192, 0.747);
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.create_group_div input[type="text"] {
    border: 0;
    border-radius: 3px;
}

.create_group_div input[type="submit"] {
    margin-bottom: 2px;
    width: 50%;
}

.add_member_div {
    background-color: rgba(192, 192, 192, 0.747);
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.add_member_div input[type="text"] {
    border: 0;
    border-radius: 3px;
}

.add_member_div input[type="submit"] {
    margin-bottom: 2px;
    width: 50%;
}

.participants_div2{
    overflow-y: auto;
    height: 100px;
}

.participants_div{
    overflow-y: auto;
    height: 200px;
}

.group_participants2{
    background-color: rgba(255, 255, 255, 0.422);
    border-radius: 3px;
    margin: 7px;
    padding: 0;
    display: none;
}

.no_users{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 3px;
}

.group_participants2:hover{
    background-color: rgba(255, 255, 255, 0.753);
}
.group_participants{
    background-color: rgba(255, 255, 255, 0.422);
    border-radius: 3px;
    margin: 7px;
    padding: 0;
}

.group_participants:hover{
    background-color: rgba(255, 255, 255, 0.753);
}

.hide{
    display: none;
}

.highlight{
    background-color: rgba(0, 0, 0, 0.203);
}

.dropdown-item:hover{
    background-color: rgba(0, 0, 0, 0.146);
}

.options{
    border-radius: 8px;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0);
}

/* .options:hover{
    background-color: rgba(0, 0, 0, 0.228);
} */

.group_options{
    border-radius: 8px;
}

.group_options:hover{
    background-color: rgba(0, 0, 0, 0.068);
}

.dropdownbtn{
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    padding: 5px;
}

.dropdownbtn:hover{
    background-color: rgba(0, 0, 0, 0.121);
    border-radius: 4px;
}

.options div{
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.559);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.63);
}

@media (max-width: 1100px) {
    * {
        font-size: 12px;
    }

    .edit_icon{
        height: 40px;
        width: 40px;
    }
}

@media (max-width: 600px) {
    * {
        font-size: 10px;
    }

    .edit_icon{
        height: 30px;
        width: 30px;
    }

    .sendbtn {
        font-size: 20px;
        padding-right: 7px;
        padding-left: 7px;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.test {
    border: 2px solid red;
}