.gradient-custom-4 {
    background: linear-gradient(to right, rgb(49, 195, 231), rgb(30, 252, 137))
}

h1{
    padding-top: 20px;
    font-size: 50px;
}

.container{
    padding: 2rem;
}

@media (max-width: 600px) {
    * {
        font-size: 10px;
    }

    h1{
        font-size: 20px;
    }
}